{{>header}}
{{>navbar}}

<!-- main header  -->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="images/jay.jpg" alt="jay" class="img-fluid" title="Jay Depani">
                    </figure>
                </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to Jd's World</p>
                    <h1>I Am a <span class="text_col">Full Stack Developer</span> Freelancer and Programmer</h1>
                    <a href="https://www.linkedin.com/in/jay-depani-500408204/" target="_blank"><button>About
                            me</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

{{>footer}}

</body>

</html>